@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.ContactContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Images/ContactBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ContactRectangle {
    height: 55%;
    width: 60%;
    border: 1px solid black;
    display: flex;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
}

.LeftSide {
    flex: 1;
    background-image: url('../../Images/Lightblue.jpg');
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.LeftSide-Title {
    margin-top: 20px;
    margin-bottom: 50px;
}

.LeftSide-Title h1 {
    color: whitesmoke;
}

.InfoContainer {
    height: 50px;
    width: 90%;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    align-items: center;
    transition: .3s;
    justify-content: space-evenly;
}
.InfoContainer h1 {
    color: #89CFF0;
    font-size: 15px;
}

.InfoContainer:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    margin-left: 5px;
}

.InfoContainerIcon {
    position: absolute;
    left: 15px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #89CFF0;
    color: whitesmoke;
    transition: .3s;
    font-size: 12px;
}

.InfoContainerIcon:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .6);
    font-size: 15px;
    height: 43px;
    width: 43px;
    margin-right: 5px;
}






.RightSide {
    flex: 2;
    background: transparent;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RightSideTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    color: #89CFF0;
    border-bottom: 3px solid #89CFF0;
}


.Contact-Form {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 10px;
  }

  .Contact-Form input {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    background: rgb(118, 201, 228);
    transition: 1s;
    margin-left: 5px;
  }


.Contact-Form input:focus {
background-color: #89CFF0;
width: 60%;
}



.Icon-Contact {
    border: none;
    height: 100%;
    width: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(118, 201, 228);
    color: whitesmoke;
    font-weight: bold;
}

.Selection-Form {
    width: 48%;
    height: 40px;
    border-radius: 10px;
    background-color: #89CFF0;
    border: none;
    outline: none;
    color: gray;
    padding: 10px;
}


textarea {
    margin-top: 10px;
    resize: none;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #89CFF0;
    padding: 10px;
    font-size: 12px;
}

.Contact-Button {
    width: 47%;
    margin-top: 15px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #89CFF0;
    opacity: 1;
    transition: .5s;
    color:cornsilk;
    font-size: large;
}

.Contact-Button:hover {
    opacity: 0.7;
}