@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
}

  .Blog {
    background: white;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, .5); */
    padding: 20px;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid lightblue;
    border-left: none;
    border-right: none;
    transition: .6s;
    margin-bottom: 10px;
  }

  .Blog:hover {
    background-color: #f0f8ff;
    border-radius: 20px; ;
  }

  .Username {
    display: flex;
    justify-content: space-between;
  }

  .Username p {
    color: lightskyblue;
    font-style: italic;
    font-weight: 500;
    font-size: 1em;
    
  }

  .Title {
    text-align: center;
  }

  .Title p {
    color: darkslategray;
    font-weight: 600;
    font-size: 20px;
  }


  .Content p {
    color: #808080;
    font-style: italic;
  }

  .Buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid lightblue;
  }


  .deleteBtnDiv {
    display: flex;
    justify-content: flex-end;
  }



  .deleteBtn {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: gray;
    transition: .6s;
    font-size: 20px;
    opacity: 0.2;

  }

  .deleteBtn:hover {
    color: red;
    font-size: 22px;
    opacity: 1;
  }


  .CommentsSection {
    max-height: 300px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35px;
    border-top: 1px solid lightblue;
    overflow-y: auto;

  }

  .Comment-Title {
    display: flex ;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .Comment-Title h3 {
    font-size: 20px;
  }

  .Comment {
    height: auto;
    align-items: center;
    display: flex;
    padding: 15px 20px;
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px solid lightblue;
    justify-content: space-between;
    border-radius: 15px;
    word-wrap: break-word; /* Break long words */
    word-break: break-word;
  
  }

  .Comment:hover {
    background-color: #ffff
  }

  .Comment p {
    font-size: 12px;
  }

  .Comment h6 {
    font-size: 14px;
  }


  .Comment-Btn {
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #2F4050;
    border-radius: 20px;
  }

  .Comment-Btn input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 15px;
    background-color: #2F4050;
    color: white;
  }

  .Comment-Btn input::placeholder {
    color: white;
  }

  .Comment-Btn button {
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 25px;
    transition: .6s;
    color: lightblue;
  }

  .Comment-Btn button:hover {
    padding-bottom: 10px;
    color: white;
  }




  /* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.CommentsSection::-webkit-scrollbar {
  display: 8px;
}

.CommentsSection::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Gray color */
  border-radius: 4px;
}

.CommentsSection::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

/* Scrollbar styles for Firefox */
.CommentsSection {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}